.logo-title {
    text-align: center;
    margin-bottom: 15px;
}

body{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    background-color: rgb(201, 201, 201);
    background-image: url("https://static.wikia.nocookie.net/pokemonleyendas/images/4/4c/Pokeball.png/revision/latest?cb=20141230003007&path-prefix=es");
    background-repeat: no-repeat;
}

.buttons {
    text-align: center;
    /*display: flex;
    column-count: 2;*/
}

/* Primer botón */
#text-search {
    width: 60%;
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
}

/* Segundo botón */
#search-button {
    width: 10%;
    text-align: center;
    padding: 6px;
    margin-bottom: 15px;
    margin-left: 10px;
}

/* Tercer botón*/
.button {
    text-align: center;
    margin-bottom: 15px;
}

#search-all-pokemon {
    width: 20%;
    text-align: center;
}

/* Card - Tarjeta */
.img-fluid {
    width: 200px; height: 200px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;;
}

.card-text {
    font-size: 13px;
    text-align: center;
    margin-bottom: 5px;
}

.card-text-2 {
    font-size: 13px;
    text-align: center;
    margin-bottom: 5px;
}

.card-text-3 {
    font-size: 13px;
    text-align: center;
    margin-bottom: 5px;
}







