.logo-title {
    text-align: center;
    margin-bottom: 15px;
}

body{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    background-color: rgb(226, 225, 225);;
}

.buttons {
    text-align: center;
    /*display: flex;
    column-count: 2;*/
}

/* Primer botón */
#text-search {
    width: 60%;
    text-align: center;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Segundo botón */
#search-button {
    width: 10%;
    text-align: center;
    padding: 6px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
}

/* Tercer botón*/
.button {
    text-align: center;
}

#search-all-pokemon {
    width: 20%;
    text-align: center;
}








